<!DOCTYPE html>
<html>
    <head>
        <!-- Basic layout - I put the information in collapsibles just to make it not very busy-->
        <!-- I also put the selling platform templates in here - as it simplifies things for me and it allows the user to -->
        <!-- avoid clicking as much to get that information .-->
        <!-- I tried to keep everything consistent with bolding, font size, and color.-->
        <%- include('header.ejs') %>
        <title>View Item</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <style>
        body {
            background-color: seashell;
            font-family: Garamond, serif;
         }
        .collapsible {
            background-color: #fc9797;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
          }
          
          .active, .collapsible:hover {
            background-color: #f7afde;
          }
          
          .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #ffffff;
          }
          </style>

    </head>

    <body>
        <div class="item-details">
            <a href="/view-closet">
                <button>Return to View Closet</button>
            </a> <br>

            <h1><%= data.title %></h1>
            <img src="<%= data.image_link %>"" alt ="clothing item" width="400" height="auto"> <br>

            <br>
            <a href="/upload/edit/<%= data.clothingID %>">
                <button>Edit</button>
                </a> 

            <a href="/upload/delete/<%= data.clothingID %>" onclick="return confirm('Are you sure you want to delete this item from the closet?');">
                <button>Delete</button>
            </a>

            <br>
            
            <!--This is a collapsible with general item details-->
            <button type="button" class="collapsible" style="font-size: 20px">View General Info</button>
            <div class="content">
            <h5><b>Brand:</b> <%= data.brand%></h5>
            <h5><b>Description:</b> <%= data.description%></h5>
            <h5><b>Size:</b> <%= data.size%></h5> 
            <h5><b>Type:</b> <%= data.type%></h5>
            <h5><b>Subtype:</b> <%= data.subtype%></h5>
            <h5><b>Color:</b> <%= data.color%></h5>
            <h5><b>Gender:</b> <%= data.gender%></h5>
            <h5><b>Special Sizing:</b> <%= data.special_sizing%></h5>
            </div>

            <!--This is a collapsible with the tags. Might push this under measurements since tags aren't too important to the user-->
            <button type="button" class="collapsible" style="font-size: 20px">View Tags</button>
            <div class="content">
            <h5><b>Tags:</b> <%= data.tag%></h5>
            </div>

            <!--This is a collapsible with measurements-->
            <button type="button" class="collapsible" style="font-size: 20px">View Measurements</button>
            <div class="content">
            <h5>All measurements are in mm</h5>
            <h5><b>Bust: </b> <%= data.bust%></h5>
            <h5><b>Waist:</b> <%= data.waist%></h5>
            <h5><b>Hip:</b> <%= data.hip%></h5>
            <h5><b>Length:</b> <%= data.length%></h5>
            <h5><b>Arm Opening:</b> <%= data.arm_opening%></h5>
            <h5><b>Leg Opening:</b> <%= data.leg_opening%></h5>
            <h5><b>Inseam:</b> <%= data.inseam%></h5>
            </div>
        </div>

        <br>
        <h4>Selling: </h4>
        <h6>Copy and paste these general description templates for various selling platforms. In the case of missing or zero-ed information, please make sure to edit the template after you paste it.</h5>
        <h6> Anything in brackets [] should be replaced after you paste the template.</h5>

        <button type="button" class="collapsible" style="font-size: 20px">Mercari</button>
            <div class="content">
            <h6 style="color:blue"> Some helpful information for adding to your description: Mercari has binding offers so users will send offers that require them to buy it, make sure to specify whether you're flexible with the pricing, so people actually send them. </h6>
            <h6 style="color:blue"> Additionally, Mercari users keep descriptions simple - include basic information about the item and sizing / measurements. </h6> <br>
            
            <h6> Nice <%= data.color%> <%= data.subtype%> from <%= data.brand%> </h6>
            <h6> In [replace with your own wording: fair, great, new, etc] condition.</h6>
            <h6>The size is a <%= data.special_sizing%> <%= data.size%> but please view measurements below !</h6>
            
            <h6> Measurements in mm: </h6>
            <h6>Bust: <%= data.bust%></h6>
            <h6>Waist: <%= data.waist%></h6>
            <h6>Hip: <%= data.hip%></h6>
            <h6>Length: <%= data.length%></h6>
            <h6>Arm Opening: <%= data.arm_opening%></h6>
            <h6>Leg Opening: <%= data.leg_opening%></h6>
            <h6>Inseam: <%= data.inseam%></h6>

            <h6>All items come from a [smoking / non smoking] and [pet free / pet friendly] household !</h6>

            <h6> Feel free to message me with any questions. Accepting reasonable offers !</h6>
            </div>

            <button type="button" class="collapsible" style="font-size: 20px">Depop</button>
            <div class="content">
            <h6 style="color:blue"> Some helpful information for adding to your description: Depop users tend to have more personal descriptions: using "my" and "I" a lot and just having more descriptive words. </h6>
            <h6 style="color:blue"> Up to 5 hashtags are allowed in a description, so put them to use ! </h6> <br>
            
            <h6> Super cute <%= data.color%> <%= data.subtype%> from <%= data.brand%>. Size <%= data.special_sizing%> <%= data.size%> </h6>
            <h6> In [replace with your own wording: fair, great, new, etc] condition !</h6>
            <h6> I love this <%= data.subtype%> but [replace with why you're selling it: wrong size, not your style, impulse purchase]</h6>
            
            <h6> Measurements in mm: </h6>
            <h6>Bust: <%= data.bust%></h6>
            <h6>Waist: <%= data.waist%></h6>
            <h6>Hip: <%= data.hip%></h6>
            <h6>Length: <%= data.length%></h6>
            <h6>Arm Opening: <%= data.arm_opening%></h6>
            <h6>Leg Opening: <%= data.leg_opening%></h6>
            <h6>Inseam: <%= data.inseam%></h6>

            <h6>Feel free to message me regarding sizing, questions, or the price !</h6>

            <h6> #<%= data.type%>, #<%= data.subtype%>, #<%= data.brand%>, #<%= data.tag%> </h6>
            
            </div>

            <button type="button" class="collapsible" style="font-size: 20px">Poshmark</button>
            <div class="content">
            <h6 style="color:blue"> Some helpful information for adding to your description: Poshmark has binding offers so users will send offers that require them to buy it, make sure to specify whether you're flexible with the pricing, so people actually send them. </h6>
            <h6 style="color:blue"> Additionally, Poshmark users tend to have detailed descriptions, especially regarding the condition. They tag items with tags seriously so be sure to mention if an item is new with tag - "NWT" </h6> <br>

            <h6>  <%= data.color%> <%= data.subtype%> from <%= data.brand%> </h6>
            <h6> In [replace with your own wording: fair, great, new, etc] condition [and has only been worn a few times].</h6>
            <h6>The size is a <%= data.special_sizing%> <%= data.size%> but please view measurements below.</h6>
            
            <h6> Measurements in mm: </h6>
            <h6>Bust: <%= data.bust%></h6>
            <h6>Waist: <%= data.waist%></h6>
            <h6>Hip: <%= data.hip%></h6>
            <h6>Length: <%= data.length%></h6>
            <h6>Arm Opening: <%= data.arm_opening%></h6>
            <h6>Leg Opening: <%= data.leg_opening%></h6>
            <h6>Inseam: <%= data.inseam%></h6>

            <h6>All items come from a [smoking / non smoking] and [pet free / pet friendly] household !</h6>

            </div>

        <!--When they click on the collapsible, it opens up-->
        <!-- This is from https://www.w3schools.com/howto/howto_js_collapsible.asp-->
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
            }
            </script>

    </body>
</html>